@model  SportSystem.Web.ViewModels.CommentViewModel
            
<div class="panel panel-collapse">
    <p><strong>@Model.Username</strong>: @Model.Text</p>
    <p><i>Created on: @Model.DateTime</i></p>
</div>

