@model SportSystem.Web.ViewModels.TopMachesViewModel

<div class="row">
    <a href="/Matches/Details/@Model.Id"><h2>@Model.HomeTeamName vs. @Model.AwayTeamName</h2></a>
    <p>Start: @Model.DateTime</p>
</div>